.MyMassage {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: right;
        column-gap: 5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        background: #D0DCFF;
        border-radius: 15px 15px 0 15px;
        
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            max-width: 270px;
            color: #000000;
            padding: 5px 10px;
            word-wrap: break-word;
        }

        img {
            border-radius: 13px;
            margin: 2px 2px 0 2px;
        }
    }

    &__time {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #323232;
    }
}